<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="messages">
      <h1><%= title %></h1>
      <a id="refresh" href="/all"><img src="./images/refresh.svg" alt="refresh"/></a>
      <a href="/new">New Message</a>
      <ul>
        <% messages.forEach(message => { %>
          <li>
            <div class="postHeader">
              <p class="messageUserName">
                <%= message.user %>
              </p>
              <p class="messageTimeAdded">
                <%= message.formatDate %>
              </p>
            </div>
            <p class="messageUserText">
              <%= message.text %>
            </p>
          </li>
        <% }) %>
      </ul>
      <a id="viewChange" href="/">Return to Home</a>
    </div>
  </body>
</html>