<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="messages">
      <h1><%= title %></h1>
      <ul>
        <% messages.forEach(message => { %>
          <li>
            <div class="postHeader">
              <p class="messageUserName">
                <%= message.user %>
              </p>
              <p class="messageTimeAdded">
                <%= message.added %>
              </p>
            </div>
            <p class="messageUserText">
              <%= message.text %>
            </p>
          </li>
        <% }) %>
      </ul>
      <a href="/new">New Message</a>
    </div>
  </body>
</html>
